/* Write some CSS below */
	body{
		font-family: Overpass;
		color: #404042;
		font-size: 18px;
		margin: 0;
	}
	
	h1, h2, h3 {
		color: #404042;
		font-family: chivo;
	}

	p {
		font-family: 'Courier New', Courier, monospace;
		font-size: 16px;
	}

.container {
	width: 900px;
	margin: 60px auto;
	text-align: center;
}

.container h2 {
	padding: 30px 20px

}

.banner {
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/chakras.jpg');
	background-size: cover;
	background-position:center;
	padding: 150px 0;
	text-align: center;
	
}

.banner h1 {
	color: white;
	font-size: 45px;
	text-align: center;
	margin: 0;
	font-family: Overpass;
	opacity: 0,9;
}

.banner p {
	color:white;
	font-size: 33px;
	opacity: 0,9;
	font-family: Overpass;
}

.btn-blue {
	background-color: rgba(255, 231, 94, 0.959);
	color: white;
	padding: 14px 48px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	transition: .3s;
	font-size: 24px;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #f0fd74;
	color: white;	
}

.card-white {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 8px;
	flex-grow: 1;
}

.card-white img {
	width: 100%;
	height:	180px;
	object-fit: cover;
	border-radius: 4px;
}

.card-white h3 {
	margin-bottom: 0;
}

.cards {
	display: flex;
	display: inline-flex;
	justify-content: space-evenly;
	gap: 16px;
}

.container-footer {
	background-color: #fff759;
	color: black;
	font-size: 12px;
	padding: 20px;
	width: 100%;
	height: 50px;
	bottom: 0px;
		

}

